@import url(//db.onlinewebfonts.com/c/bcc90f9166f491ca4a926d79afa74d3e?family=FuturaLTW01-Bold);
@import url(//db.onlinewebfonts.com/c/12fd3b0603f2ab22d6bf2bed80521841?family=Futura+LT);
* {
  margin: 0;
  padding: 0;
  font-family: "Futura LT"; }

body {
  color: #333; }

h1 {
  font-family: "FuturaLTW01-Bold";
  font-size: 60px;
  margin-bottom: 40px; }
  @media (max-width: 1000px) {
    h1 {
      margin-bottom: 10px;
      line-height: 50px;
      font-size: 40px; } }

h2 {
  font-family: "FuturaLTW01-Bold";
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px; }
  @media (max-width: 1000px) {
    h2 {
      text-align: left; } }

h3 a {
  font-family: "FuturaLTW01-Bold";
  font-size: 48px; }
  @media (max-width: 1000px) {
    h3 a {
      font-size: 24px; } }

p {
  font-size: 20px;
  line-height: 34px;
  color: #777;
  max-width: 500px;
  margin: 20px 0; }

a {
  text-decoration: none;
  color: #333; }
  a:hover {
    color: #666;
    text-decoration: underline; }

ul {
  margin: 0 0 20px 10px;
  font-size: 18px; }
  ul a {
    text-decoration: underline; }

li {
  margin: 0 0 10px 10px; }
  li ul {
    margin-top: 10px;
    margin-bottom: 0; }

header {
  padding: 50px 0;
  background: #eeedfd;
  position: relative; }

main {
  padding-top: 60px; }

article {
  margin-bottom: 150px; }
  article p {
    max-width: 580px; }

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative; }
  @media (max-width: 1000px) {
    .container {
      padding: 0 20px; } }

.greeting {
  font-size: 28px;
  color: #777; }
  .greeting a {
    color: inherit; }

.blurb {
  margin-bottom: 60px; }

.contact-links {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 18px; }
  @media (max-width: 1000px) {
    .contact-links {
      position: static;
      margin-bottom: 40px;
      font-size: 24px; } }

.contact-link--email {
  margin-right: 10px; }
  .contact-link--email img {
    width: 50px; }

.image {
  position: relative;
  right: -100px; }
  @media (max-width: 1000px) {
    .image {
      right: 0; } }
  .image img {
    max-width: 100%;
    max-height: 600px; }

.article-wrap {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1000px) {
    .article-wrap {
      flex-direction: column; } }

.article-copy {
  flex: 1 0 40%; }
  @media (max-width: 1000px) {
    .article-copy {
      margin-bottom: 40px; } }

.header-image {
  position: absolute;
  top: 20px;
  right: 280px;
  background: url("../images/smile.svg") center no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  display: none; }

.work-meta {
  display: flex;
  color: #777;
  align-items: baseline;
  margin-bottom: 26px; }
  @media (max-width: 1000px) {
    .work-meta {
      display: block; } }

.work-title {
  font-size: 22px;
  margin-right: 20px; }
  @media (max-width: 1000px) {
    .work-title {
      margin-bottom: 5px; } }

.work-dates {
  font-size: 16px; }
