@import url(//db.onlinewebfonts.com/c/bcc90f9166f491ca4a926d79afa74d3e?family=FuturaLTW01-Bold);
@import url(//db.onlinewebfonts.com/c/12fd3b0603f2ab22d6bf2bed80521841?family=Futura+LT);
* {
  margin: 0;
  padding: 0;
  font-family: "Futura LT"; }

body {
  color: #333; }

h1 {
  font-family: "FuturaLTW01-Bold";
  font-size: 60px; }

h2 {
  font-family: "FuturaLTW01-Bold";
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px; }

h3 {
  font-family: "FuturaLTW01-Bold";
  font-size: 48px; }

p {
  font-size: 20px;
  line-height: 34px;
  color: #777;
  max-width: 500px; }

header {
  padding: 50px 0;
  background: #eeedfd; }

main {
  padding-top: 60px; }

article {
  margin-bottom: 150px; }
  article p {
    max-width: 580px; }

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative; }

.greeting {
  font-size: 28px;
  color: #777; }

.blurb {
  margin-bottom: 60px; }

.contact-links {
  position: absolute;
  top: 0;
  right: 60px; }

.contact-link--email {
  margin-right: 10px; }
  .contact-link--email img {
    width: 35px; }

.image {
  position: relative;
  right: -100px; }
  .image img {
    max-width: 100%;
    max-height: 600px; }

.article-wrap {
  display: flex;
  justify-content: space-between; }

.article-copy {
  flex: 1 0 40%; }

.article-link {
  margin-bottom: 40px; }
  .article-link a {
    font-size: 22px;
    text-decoration: none;
    color: #9c9cd5; }
    .article-link a:hover {
      text-decoration: underline; }
