/** ICOMOON TEXT ICONS
================================================**/

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.svg#icomoon') format('svg'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-icomoon"]:before,
[class*=" icon-icomoon"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.icon-icomoon-tablet:before {content: "\e000";}
.icon-icomoon-desktop:before {content: "\e002";}
.icon-icomoon-phone:before {content: "\e001";}
.icon-icomoon-bx-star:before {content: "\e004";}
.icon-icomoon-github:before {content: "\e005";}
.icon-icomoon-beer:before {content: "\e003";}
.icon-icomoon-double-arrow:before {content: "\e006";}

/** KIEV FONT IMPORT
================================================**/

@font-face {
    font-family: 'KievitWeb';
    src: url('fonts/KievitWeb.eot');
    src: url('fonts/KievitWeb.eot?#iefix') format('embedded-opentype'),
             url('fonts/KievitWeb.woff') format('woff'),
             url('fonts/kievitcomp-bold-webfont.svg#KievitComp-BoldRegular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'KievitWeb';
    src: url('fonts/KievitWeb-Bold.eot');
    src: url('fonts/KievitWeb-Bold.eot?#iefix') format('embedded-opentype'),
             url('fonts/KievitWeb-Bold.woff') format('woff'),
             url('fonts/kievitcomp-bold-webfont.svg#KievitComp-BoldRegular') format('svg');
    font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.profile-image {
  margin: 0 auto 40px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
}

.profile-image img {
  max-width: 100%;
  border-radius: 200px;
}

h1 {
  font-weight: 200;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}

h3 {
  font-size: 26px;
  margin-bottom: 5px;
  text-align: center;
}

a {
  text-decoration: underline;
}

p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 100;
}

p a {
  color: #fff;
}

.top {
  background: #cf4646;
  color: #fff;
  padding: 60px 0;
}

.top p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.top a {
  color: #fff;
}

.contact-info {
  font-size: 30px;
  text-align: center;
}

.contact-info .item {
  display: inline-block;
}

.contact-info .item a {
  padding: 0 5px;
}

.main-content {
  padding: 60px 0;
}

.main-content a {
  color: rgb(85,85,85);
  text-decoration: none;
}

.image {
  text-align: center;
  margin-bottom: 60px;
}

.image img {
  max-width: 100%;
}

.content-section {
  margin-bottom: 60px;
  text-align: center;
}

.content-section .row {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: solid #eee 1px;
}

.content-section .row > div:first-child {
  border-right: solid #eee 1px;
}

.bx-item {
  font-family: "KievitWeb", "Arial";
  font-size: 40px;
  font-weight: bold;
}

.star {
  color: #de3329;
  display: none;
}