$main-color: #cf4646;
$footer-color: #eee;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

h1 {
  font-weight: 200;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}

h3 {
  font-size: 26px;
  padding-bottom: 5px;
  text-align: center;
}

a {
  text-decoration: underline;
}

a:focus {
  outline: 0;
}

p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 100;

  a {
    color: #fff;
  }
}

.profile-image {
  margin: 0 auto 40px;
  width: 200px;
  height: 200px;

  img {
    max-width: 100%;
    border-radius: 200px;
  }
}

.top {
  background: $main-color;
  color: #fff;
  padding: 60px 0;

  p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  a {
    color: #fff;
  }

}

.contact-info {
  font-size: 30px;
  text-align: center;

  .item {
    display: inline-block;

    a {
      padding: 0 5px;
    }
  }
}

.main-content {
  padding: 30px 0;

  a {
    color: rgb(85,85,85);
    text-decoration: none;
  }
}

.image {
  text-align: center;
  margin-bottom: 60px;

  img {
    max-width: 100%;
  }
}

.content-section {
  margin-bottom: 60px;
  text-align: center;

  a {
    padding: 40px 0;
    display: block;
    border-bottom: solid #eee 1px;
  }

  .row {
    > div:first-child {
      border-right: solid #eee 1px;
    }
  }

  a:hover {
    color: $main-color;
  }
}

.bx-item {
  font-family: "KievitWeb", "Arial";
  font-size: 40px;
  font-weight: bold;
}

footer {
  background: $footer-color;
  text-align: center;
  padding: 30px;
  color: #999;
  /*border-top: solid 1px darken($footer-color, 10%);*/

  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
}






